:root{
    --color-blue: rgba(7, 14, 56, 1);
    --color-orange: rgba(255, 148, 26, 1);
    --color-oragne-bright: rgba(255, 172, 77, 1);
    --color-gray: rgba(230, 231, 235, 1);
    --text-color-dark-blue: rgba(32, 38, 76, 1);
    --text-color-blue: rgba(81, 86, 116, 1);
    --text-color-white: rgba(255, 255, 255, 1);
    --font-size-32px: 32px;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-size-20px: 20px;
    --font-size-24px: 24px;
    --font-size-18px: 18px;
    --font-size-16px: 16px;
    --border-radius-10px: 10px;
    --border-radius-4px: 4px;
    --margin-40px: 40px;
    --gap-24px: 24px;
    --gap-20px: 20px;
    --gap-16px: 16px;
    --gap-10px: 10px;
    --gap-8px: 8px;
    --gap-4px: 4px;
    --height-48px: 48px;
    --padding-16px: 16px;
    --pading-40px: 40px;
    --transition-03s: 0.3s;
}